In [1]:
import numpy as np
import pandas as pd

##### FROM AN ARRAY

In [7]:
# Create an array
first_data_example = np.array([[1, 2], [2, 4]])
first_data_example

array([[1, 2],
       [2, 4]])

In [11]:
first_dataframe = pd.DataFrame(first_data_example, index=["lol", "lel"], columns=["col1", "col2"])
first_dataframe

     col1  col2
lol     1     2
lel     2     4