In [2]:
import pandas as pd
from utilities.reader_tools import GenericCSVReader

df_players = GenericCSVReader.DataframeFromCSV("players_20.csv")
df_players.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

##### SET VALUE TO ONE CELL

In [3]:
df_players.set_index("short_name", inplace=True)
df_players = df_players[["long_name", "age", "dob", "height_cm", "weight_kg", "nationality"]]

In [4]:
df_players.head()

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium

In [5]:
df_players.loc["L. Messi", "height_cm"] = 175
df_players

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,175,72,Argentina
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR
Zhang Wei,张威,19,2000-05-16,186,75,China PR
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR

##### SET VALUE TO ENTIRE COLUMN

In [6]:
df_players.loc[:, "height_cm"] = 190
df_players.loc[:, "height_cm"]

short_name
L. Messi             190
Cristiano Ronaldo    190
Neymar Jr            190
J. Oblak             190
E. Hazard            190
                    ...
Shao Shuai           190
Xiao Mingjie         190
Zhang Wei            190
Wang Haijian         190
Pan Ximing           190
Name: height_cm, Length: 18278, dtype: int64

##### SET VALUE TO ENTIRE ROW

In [7]:
df_players.iloc[-1, :]

long_name             潘喜明
age                    26
dob            1993-01-11
height_cm             190
weight_kg              78
nationality      China PR
Name: Pan Ximing, dtype: object

In [9]:
import numpy as np

np.nan
df_players.iloc[-1, :] = np.nan
df_players.iloc[-1, :]

long_name      NaN
age            NaN
dob            NaN
height_cm      NaN
weight_kg      NaN
nationality    NaN
Name: Pan Ximing, dtype: object

##### SET VALUE TO MULTIPLE CELL

In [ ]:
players = ["L. Messi", "Cristiano Ronaldo"]

df_players.loc[players, "height_cm"]

short_name
L. Messi             190.0
Cristiano Ronaldo    190.0
Name: height_cm, dtype: float64

In [14]:
df_players.loc[players, "height_cm"] = 175
df_players.loc[players, "height_cm"]

short_name
L. Messi             175.0
Cristiano Ronaldo    175.0
Name: height_cm, dtype: float64

##### SET VALUE FOR ROWS MATCHING A CONDITION

In [16]:
columns = ["long_name", "age", "dob", "height_cm", "weight_kg", "nationality"]

df_players.loc[df_players["height_cm"] > 180, columns]

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,190.0,68.0,Brazil
J. Oblak,Jan Oblak,26.0,1993-01-07,190.0,87.0,Slovenia
E. Hazard,Eden Hazard,28.0,1991-01-07,190.0,74.0,Belgium
K. De Bruyne,Kevin De Bruyne,28.0,1991-06-28,190.0,70.0,Belgium
M. ter Stegen,Marc-André ter Stegen,27.0,1992-04-30,190.0,85.0,Germany
...,...,...,...,...,...,...
P. Martin,Paul Martin,20.0,1999-01-05,190.0,84.0,Republic of Ireland
Shao Shuai,邵帅,22.0,1997-03-10,190.0,79.0,China PR
Xiao Mingjie,Mingjie Xiao,22.0,1997-01-01,190.0,66.0,China PR
Zhang Wei,张威,19.0,2000-05-16,190.0,75.0,China PR
Wang Haijian,汪海健,18.0,2000-08-02,190.0,74.0,China PR

In [17]:
df_players.loc[df_players["height_cm"] > 180, columns] = 0

In [19]:
df_players.loc[:, columns]

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,175.0,72.0,Argentina
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal
Neymar Jr,0,0.0,0,0.0,0.0,0
J. Oblak,0,0.0,0,0.0,0.0,0
E. Hazard,0,0.0,0,0.0,0.0,0
...,...,...,...,...,...,...
Shao Shuai,0,0.0,0,0.0,0.0,0
Xiao Mingjie,0,0.0,0,0.0,0.0,0
Zhang Wei,0,0.0,0,0.0,0.0,0
Wang Haijian,0,0.0,0,0.0,0.0,0
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN