In [2]:
import pandas as pd
from utilities.reader_tools import GenericCSVReader

df_players = GenericCSVReader.DataframeFromCSV("players_20.csv")

In [3]:
df_players.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3

##### SET INDEX

In [4]:
df_players.set_index("short_name", inplace=True)

In [5]:
df_players.head(3)

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3

In [6]:
df_players.iloc[:, 0:9]

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [7]:
df_players.loc[:, "sofifa_id":"club"]

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

##### FILTER DATASET COLUMNS

In [9]:
df_players = df_players[["long_name", "age", "dob", "height_cm", "weight_kg", "nationality"]]

In [10]:
df_players

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR
Zhang Wei,张威,19,2000-05-16,186,75,China PR
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR

##### LOC - SELECTING WITH A SINGLE VALUE

In [11]:
df_players.loc["L. Messi"]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
Name: L. Messi, dtype: object

In [12]:
df_players.loc["L. Messi", "height_cm"]

np.int64(170)

In [13]:
df_players.loc["Cristiano Ronaldo", "weight_kg"]

np.int64(83)

In [15]:
df_players.loc[:, "height_cm"]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [16]:
df_players.loc["L. Messi", :]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
Name: L. Messi, dtype: object

##### SELECTING WITH A LIST OF VALUES

In [18]:
df_players.loc[["L. Messi", "Cristiano Ronaldo"]]

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal

In [ ]:
df_players.loc[["L. Messi", "Cristiano Ronaldo"], "height_cm"]

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [20]:
df_players.loc[["L. Messi"], ["height_cm", "weight_kg"]]

            height_cm  weight_kg
short_name
L. Messi          170         72

In [21]:
df_players.loc[["L. Messi", "Cristiano Ronaldo"], ["height_cm", "weight_kg"]]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

##### RANGE OF DATA WITH SLICE

In [31]:
players = ["L. Messi", "Cristiano Ronaldo"]
columns = ["age", "height_cm", "weight_kg"]

In [32]:
df_players.loc[players, "age":"nationality"]

                   age         dob  height_cm  weight_kg nationality
short_name
L. Messi            32  1987-06-24        170         72   Argentina
Cristiano Ronaldo   34  1985-02-05        187         83    Portugal

In [33]:
df_players.loc[:, columns]

                   age  height_cm  weight_kg
short_name
L. Messi            32        170         72
Cristiano Ronaldo   34        187         83
Neymar Jr           27        175         68
J. Oblak            26        188         87
E. Hazard           28        175         74
...                ...        ...        ...
Shao Shuai          22        186         79
Xiao Mingjie        22        177         66
Zhang Wei           19        186         75
Wang Haijian        18        185         74
Pan Ximing          26        182         78

[18278 rows x 3 columns]

In [ ]:
# Get top 1 and top 10
df_players.index[:10]

Index(['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'J. Oblak', 'E. Hazard',
       'K. De Bruyne', 'M. ter Stegen', 'V. van Dijk', 'L. Modrić',
       'M. Salah'],
      dtype='object', name='short_name')

In [39]:
df_players.loc[["L. Messi", "M. Salah"], columns]

            age  height_cm  weight_kg
short_name
L. Messi     32        170         72
M. Salah     27        175         71

##### SELECTING WITH CONDITIONS

Both start and stop are included

In [44]:
# Example
df_players["height_cm"]>180

short_name
L. Messi             False
Cristiano Ronaldo     True
Neymar Jr            False
J. Oblak              True
E. Hazard            False
                     ...
Shao Shuai            True
Xiao Mingjie         False
Zhang Wei             True
Wang Haijian          True
Pan Ximing            True
Name: height_cm, Length: 18278, dtype: bool

In [49]:
df_players.loc[df_players["height_cm"]>180].index

Index(['Cristiano Ronaldo', 'J. Oblak', 'K. De Bruyne', 'M. ter Stegen',
       'V. van Dijk', 'K. Koulibaly', 'H. Kane', 'Alisson', 'De Gea',
       'G. Chiellini',
       ...
       'C. Heath', 'S. Cartwright', 'H. Sveijer', 'S. Callan', 'Huang Jiahui',
       'P. Martin', 'Shao Shuai', 'Zhang Wei', 'Wang Haijian', 'Pan Ximing'],
      dtype='object', name='short_name', length=9744)

In [51]:
# Multiple
df_players.loc[(df_players["height_cm"]>180) & (df_players["nationality"]=="Argentina")]

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
M. Icardi,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina
G. Higuaín,Gonzalo Gerardo Higuaín,31,1987-12-10,186,89,Argentina
E. Garay,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina
N. Otamendi,Nicolás Hernán Otamendi,31,1988-02-12,183,81,Argentina
G. Rulli,Gerónimo Rulli,27,1992-05-20,189,84,Argentina
...,...,...,...,...,...,...
T. Durso,Tomás Durso,20,1999-02-26,185,80,Argentina
J. Hass,Joaquín Hass,21,1998-03-27,186,88,Argentina
R. Ferrario,Rafael Ferrario,19,2000-04-30,186,76,Argentina
L. Finochietto,Leandro Finochietto,22,1997-04-25,186,77,Argentina
N. Forastiero,Nicolás Forastiero,20,1998-07-16,182,79,Argentina

##### SELECTING WITH ILOC

In [53]:
# Height of Messi

df_players.iloc[0, 3]

np.int64(170)

In [55]:
# Weight Cristiano

df_players.iloc[1, 4]

np.int64(83)

In [56]:
df_players.iloc[:, 3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [57]:
df_players.iloc[0, :]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
Name: L. Messi, dtype: object

##### SELECTING LIST OF VALUES WITH ILOC

In [58]:
df_players.iloc[[0,1]]

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal

In [59]:
df_players.iloc[[0,1], [3]]

                   height_cm
short_name
L. Messi                 170
Cristiano Ronaldo        187

In [61]:
df_players.iloc[0, [3, 4]]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [62]:
df_players.iloc[[0,1], [3, 4]]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

##### SELECTING WITH ILOC AND SLICING

Here, start in included but stop is not

In [ ]:
# players = ["L. Messi", "Cristiano Ronaldo"]
players = [0, 1]

In [73]:
df_players.iloc[players, 1:6]

                   age         dob  height_cm  weight_kg nationality
short_name
L. Messi            32  1987-06-24        170         72   Argentina
Cristiano Ronaldo   34  1985-02-05        187         83    Portugal

In [77]:
# columns = ["age", "dob", "height_cm", "weight_kg"]
columns = [1, 2, 3, 4]

# df_players.iloc[[0, 9], columns]
df_players.iloc[0:10, 1:5]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
J. Oblak            26  1993-01-07        188         87
E. Hazard           28  1991-01-07        175         74
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
L. Modrić           33  1985-09-09        172         66
M. Salah            27  1992-06-15        175         71