In [2]:
import sys

print(sys.path)

['c:\\anaconda3\\envs\\python_DataScience\\python313.zip', 'c:\\anaconda3\\envs\\python_DataScience\\DLLs', 'c:\\anaconda3\\envs\\python_DataScience\\Lib', 'c:\\anaconda3\\envs\\python_DataScience', '', 'c:\\anaconda3\\envs\\python_DataScience\\Lib\\site-packages', '__editable__.datascience_course-0.0.1.finder.__path_hook__', 'c:\\anaconda3\\envs\\python_DataScience\\Lib\\site-packages\\win32', 'c:\\anaconda3\\envs\\python_DataScience\\Lib\\site-packages\\win32\\lib', 'c:\\anaconda3\\envs\\python_DataScience\\Lib\\site-packages\\Pythonwin']

##### ONE CSV

In [3]:
import os
import pandas as pd
import numpy as np

import utilities.reader_tools as rd

In [12]:
serieA_2526 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2526/I1.csv")
serieA_2526

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,I1,23/08/2025,17:30,Genoa,Lecce,0,0,D,0,0,...,2.03,1.83,2.00,1.93,2.03,1.88,1.94,1.80,2.11,1.88
1,I1,23/08/2025,17:30,Sassuolo,Napoli,0,2,A,0,1,...,2.03,1.83,2.08,1.85,2.06,1.83,1.97,1.78,2.07,1.91
2,I1,23/08/2025,19:45,Milan,Cremonese,1,2,A,1,1,...,1.93,1.93,2.22,1.72,2.10,1.93,1.98,1.79,2.02,1.94
3,I1,23/08/2025,19:45,Roma,Bologna,1,0,H,0,0,...,1.88,1.98,1.85,2.09,1.88,2.05,1.76,1.99,1.92,2.07
4,I1,24/08/2025,17:30,Cagliari,Fiorentina,1,1,D,0,0,...,1.70,2.10,1.98,1.94,1.83,2.10,1.77,1.93,1.83,2.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,I1,29/11/2025,19:45,Milan,Lazio,1,0,H,0,0,...,1.85,2.00,1.92,2.01,1.85,2.00,1.83,1.94,1.95,2.03
125,I1,30/11/2025,11:30,Lecce,Torino,2,1,H,2,0,...,2.05,1.80,2.14,1.81,2.10,1.80,2.03,1.75,2.12,1.87
126,I1,30/11/2025,14:00,Pisa,Inter,0,2,A,0,0,...,1.93,1.93,1.95,1.95,1.93,2.00,1.88,1.89,2.00,1.94
127,I1,30/11/2025,17:00,Atalanta,Fiorentina,2,0,H,1,0,...,1.78,2.10,1.91,2.02,1.84,2.10,1.79,1.99,1.93,2.06
128,I1,30/11/2025,19:45,Roma,Napoli,0,1,A,0,1,...,1.83,2.03,1.88,2.05,1.83,2.03,1.80,1.97,1.88,2.12

In [13]:
renaming_dict = {"FTHG": "Home Goals",
                 "FTAG": "Away Goals"}

serieA_2526.rename(columns=renaming_dict, inplace=True)

In [14]:
serieA_2526

,Div,Date,Time,HomeTeam,AwayTeam,Home Goals,Away Goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,I1,23/08/2025,17:30,Genoa,Lecce,0,0,D,0,0,...,2.03,1.83,2.00,1.93,2.03,1.88,1.94,1.80,2.11,1.88
1,I1,23/08/2025,17:30,Sassuolo,Napoli,0,2,A,0,1,...,2.03,1.83,2.08,1.85,2.06,1.83,1.97,1.78,2.07,1.91
2,I1,23/08/2025,19:45,Milan,Cremonese,1,2,A,1,1,...,1.93,1.93,2.22,1.72,2.10,1.93,1.98,1.79,2.02,1.94
3,I1,23/08/2025,19:45,Roma,Bologna,1,0,H,0,0,...,1.88,1.98,1.85,2.09,1.88,2.05,1.76,1.99,1.92,2.07
4,I1,24/08/2025,17:30,Cagliari,Fiorentina,1,1,D,0,0,...,1.70,2.10,1.98,1.94,1.83,2.10,1.77,1.93,1.83,2.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,I1,29/11/2025,19:45,Milan,Lazio,1,0,H,0,0,...,1.85,2.00,1.92,2.01,1.85,2.00,1.83,1.94,1.95,2.03
125,I1,30/11/2025,11:30,Lecce,Torino,2,1,H,2,0,...,2.05,1.80,2.14,1.81,2.10,1.80,2.03,1.75,2.12,1.87
126,I1,30/11/2025,14:00,Pisa,Inter,0,2,A,0,0,...,1.93,1.93,1.95,1.95,1.93,2.00,1.88,1.89,2.00,1.94
127,I1,30/11/2025,17:00,Atalanta,Fiorentina,2,0,H,1,0,...,1.78,2.10,1.91,2.02,1.84,2.10,1.79,1.99,1.93,2.06
128,I1,30/11/2025,19:45,Roma,Napoli,0,1,A,0,1,...,1.83,2.03,1.88,2.05,1.83,2.03,1.80,1.97,1.88,2.12

##### MORE CSVs

Serie A 21/22 -> Serie A 25/26

In [63]:
root = "https://www.football-data.co.uk/mmz4281/"
common_suffix = "/7I1.csv"
seasons = ["2122", "2223", "2324", "2425", "2526"]

In [64]:
serieA_seasons = []

for season in seasons:
    link = root + season + common_suffix
    print(link)
    serieA_seasons.append(pd.read_csv(root + season + common_suffix))

https://www.football-data.co.uk/mmz4281/2122/7I1.csv
https://www.football-data.co.uk/mmz4281/2223/7I1.csv
https://www.football-data.co.uk/mmz4281/2324/7I1.csv
https://www.football-data.co.uk/mmz4281/2425/7I1.csv
https://www.football-data.co.uk/mmz4281/2526/7I1.csv

In [65]:
type(serieA_seasons)

list

In [66]:
len(serieA_seasons)

5

###### INSERT A NEW COLUMN: SEASON IDENTIFIER

In [69]:
for i in range(0, len(serieA_seasons)):
    serieA_seasons[i].insert(1, "season", seasons[i])

ValueError: cannot insert season, already exists

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,I1,2122,21/08/2021,17:30,Inter,Genoa,4,0,H,2,...,2.32,-1.50,1.88,2.05,1.89,2.03,1.96,2.09,1.86,2.01
1,I1,2122,21/08/2021,17:30,Verona,Sassuolo,2,3,A,0,...,2.03,0.00,1.88,2.05,1.89,2.04,2.00,2.07,1.86,2.02
2,I1,2122,21/08/2021,19:45,Empoli,Lazio,1,3,A,1,...,2.21,0.50,2.00,1.93,2.00,1.93,2.06,1.95,1.99,1.88
3,I1,2122,21/08/2021,19:45,Torino,Atalanta,1,2,A,0,...,2.45,1.00,2.06,1.87,2.08,1.85,2.19,1.90,2.03,1.84
4,I1,2122,22/08/2021,17:30,Bologna,Salernitana,3,2,H,0,...,2.16,-1.00,1.94,1.99,1.92,2.01,2.02,2.01,1.91,1.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,I1,2122,22/05/2022,11:30,Spezia,Napoli,0,3,A,0,...,2.49,0.75,1.97,1.93,1.99,1.92,2.12,1.98,1.97,1.89
376,I1,2122,22/05/2022,17:00,Inter,Sampdoria,3,0,H,0,...,3.71,-2.50,2.02,1.88,1.99,1.92,2.07,2.02,1.99,1.88
377,I1,2122,22/05/2022,17:00,Sassuolo,Milan,0,3,A,0,...,2.63,1.25,2.04,1.86,2.06,1.87,2.06,2.01,1.98,1.89
378,I1,2122,22/05/2022,20:00,Salernitana,Udinese,0,4,A,0,...,2.35,-0.50,1.89,2.01,1.89,2.04,1.93,2.04,1.89,1.99
379,I1,2122,22/05/2022,20:00,Venezia,Cagliari,0,0,D,0,...,2.16,1.00,1.87,2.03,1.85,2.06,1.97,2.22,1.79,2.09

In [45]:
serieA_seasons[2]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,I1,2324,19/08/2023,17:30,Empoli,Verona,0,1,A,0,...,1.85,-0.25,2.02,1.91,2.01,1.92,2.03,1.98,1.94,1.90
1,I1,2324,19/08/2023,17:30,Frosinone,Napoli,1,3,A,1,...,2.10,1.00,1.96,1.97,1.97,1.95,2.02,1.98,1.95,1.89
2,I1,2324,19/08/2023,19:45,Genoa,Fiorentina,1,4,A,0,...,1.74,0.25,1.79,2.15,1.82,2.13,2.02,2.15,1.86,2.00
3,I1,2324,19/08/2023,19:45,Inter,Monza,2,0,H,1,...,2.38,-1.25,1.92,2.01,1.91,2.02,1.94,2.05,1.87,1.98
4,I1,2324,20/08/2023,17:30,Roma,Salernitana,2,2,D,1,...,1.68,-1.00,1.95,1.98,1.94,1.98,2.03,2.03,1.92,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,I1,2324,26/05/2024,19:45,Empoli,Roma,2,1,H,1,...,2.03,-0.25,1.95,1.98,1.95,1.97,2.02,2.00,1.93,1.92
376,I1,2324,26/05/2024,19:45,Frosinone,Udinese,0,1,A,0,...,1.78,-0.25,2.13,1.81,2.22,1.74,2.22,1.83,2.11,1.76
377,I1,2324,26/05/2024,19:45,Lazio,Sassuolo,1,1,D,0,...,2.41,-1.50,1.99,1.94,1.99,1.93,2.02,2.00,1.93,1.93
378,I1,2324,26/05/2024,19:45,Verona,Inter,2,2,D,2,...,2.71,1.25,2.05,1.88,2.07,1.86,2.07,1.97,1.98,1.87
379,I1,2324,02/06/2024,17:00,Atalanta,Fiorentina,2,3,A,2,...,2.53,-1.00,1.99,1.94,1.99,1.93,2.04,1.96,1.95,1.90

In [46]:
serieA_seasons[0]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,I1,2122,21/08/2021,17:30,Inter,Genoa,4,0,H,2,...,2.32,-1.50,1.88,2.05,1.89,2.03,1.96,2.09,1.86,2.01
1,I1,2122,21/08/2021,17:30,Verona,Sassuolo,2,3,A,0,...,2.03,0.00,1.88,2.05,1.89,2.04,2.00,2.07,1.86,2.02
2,I1,2122,21/08/2021,19:45,Empoli,Lazio,1,3,A,1,...,2.21,0.50,2.00,1.93,2.00,1.93,2.06,1.95,1.99,1.88
3,I1,2122,21/08/2021,19:45,Torino,Atalanta,1,2,A,0,...,2.45,1.00,2.06,1.87,2.08,1.85,2.19,1.90,2.03,1.84
4,I1,2122,22/08/2021,17:30,Bologna,Salernitana,3,2,H,0,...,2.16,-1.00,1.94,1.99,1.92,2.01,2.02,2.01,1.91,1.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,I1,2122,22/05/2022,11:30,Spezia,Napoli,0,3,A,0,...,2.49,0.75,1.97,1.93,1.99,1.92,2.12,1.98,1.97,1.89
376,I1,2122,22/05/2022,17:00,Inter,Sampdoria,3,0,H,0,...,3.71,-2.50,2.02,1.88,1.99,1.92,2.07,2.02,1.99,1.88
377,I1,2122,22/05/2022,17:00,Sassuolo,Milan,0,3,A,0,...,2.63,1.25,2.04,1.86,2.06,1.87,2.06,2.01,1.98,1.89
378,I1,2122,22/05/2022,20:00,Salernitana,Udinese,0,4,A,0,...,2.35,-0.50,1.89,2.01,1.89,2.04,1.93,2.04,1.89,1.99
379,I1,2122,22/05/2022,20:00,Venezia,Cagliari,0,0,D,0,...,2.16,1.00,1.87,2.03,1.85,2.06,1.97,2.22,1.79,2.09

In [57]:
for i in range(0, len(serieA_seasons)):
    serieA_seasons[i].rename(columns={"season":"Season"}, inplace=True)

In [58]:
serieA_seasons[1]

,Div,Season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,I1,2223,13/08/2022,17:30,Milan,Udinese,4,2,H,2,...,2.16,-1.25,1.98,1.92,2.02,1.91,2.17,1.94,2.06,1.81
1,I1,2223,13/08/2022,17:30,Sampdoria,Atalanta,0,2,A,0,...,2.24,0.75,2.07,1.83,2.11,1.82,2.13,1.87,2.06,1.82
2,I1,2223,13/08/2022,19:45,Lecce,Inter,1,2,A,0,...,2.55,1.50,1.90,2.00,1.91,2.02,1.96,2.06,1.89,1.97
3,I1,2223,13/08/2022,19:45,Monza,Torino,1,2,A,0,...,1.75,0.00,1.79,2.11,1.80,2.15,1.88,2.16,1.83,2.06
4,I1,2223,14/08/2022,17:30,Fiorentina,Cremonese,3,2,H,2,...,2.09,-1.00,2.02,1.88,2.06,1.87,2.07,1.97,1.99,1.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,I1,2223,04/06/2023,20:00,Atalanta,Monza,5,2,H,2,...,2.53,-1.00,1.80,2.14,1.84,2.08,1.88,2.14,1.81,2.05
376,I1,2223,04/06/2023,20:00,Lecce,Bologna,2,3,A,1,...,1.88,0.00,1.86,2.07,1.88,2.04,2.04,2.11,1.89,1.97
377,I1,2223,04/06/2023,20:00,Milan,Verona,3,1,H,1,...,1.88,-0.75,1.90,2.03,1.90,2.00,1.92,2.06,1.86,2.00
378,I1,2223,04/06/2023,20:00,Roma,Spezia,2,1,H,1,...,1.81,-0.75,2.04,1.89,2.04,1.88,2.11,1.93,2.02,1.84
379,I1,2223,04/06/2023,20:00,Udinese,Juventus,0,1,A,0,...,2.15,0.75,2.15,1.79,2.07,1.85,2.15,1.86,2.04,1.82

In [59]:
serieA_seasons[0]

,Div,Season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,I1,2122,21/08/2021,17:30,Inter,Genoa,4,0,H,2,...,2.32,-1.50,1.88,2.05,1.89,2.03,1.96,2.09,1.86,2.01
1,I1,2122,21/08/2021,17:30,Verona,Sassuolo,2,3,A,0,...,2.03,0.00,1.88,2.05,1.89,2.04,2.00,2.07,1.86,2.02
2,I1,2122,21/08/2021,19:45,Empoli,Lazio,1,3,A,1,...,2.21,0.50,2.00,1.93,2.00,1.93,2.06,1.95,1.99,1.88
3,I1,2122,21/08/2021,19:45,Torino,Atalanta,1,2,A,0,...,2.45,1.00,2.06,1.87,2.08,1.85,2.19,1.90,2.03,1.84
4,I1,2122,22/08/2021,17:30,Bologna,Salernitana,3,2,H,0,...,2.16,-1.00,1.94,1.99,1.92,2.01,2.02,2.01,1.91,1.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,I1,2122,22/05/2022,11:30,Spezia,Napoli,0,3,A,0,...,2.49,0.75,1.97,1.93,1.99,1.92,2.12,1.98,1.97,1.89
376,I1,2122,22/05/2022,17:00,Inter,Sampdoria,3,0,H,0,...,3.71,-2.50,2.02,1.88,1.99,1.92,2.07,2.02,1.99,1.88
377,I1,2122,22/05/2022,17:00,Sassuolo,Milan,0,3,A,0,...,2.63,1.25,2.04,1.86,2.06,1.87,2.06,2.01,1.98,1.89
378,I1,2122,22/05/2022,20:00,Salernitana,Udinese,0,4,A,0,...,2.35,-0.50,1.89,2.01,1.89,2.04,1.93,2.04,1.89,1.99
379,I1,2122,22/05/2022,20:00,Venezia,Cagliari,0,0,D,0,...,2.16,1.00,1.87,2.03,1.85,2.06,1.97,2.22,1.79,2.09

##### DICTIONARY OF CSV

In [70]:
root = "https://www.football-data.co.uk/mmz4281/"
serieA_suffix = "/I1.csv"
premierLeague_suffix = "/E0.csv"

In [73]:
leagues = {"Premier":premierLeague_suffix, "SerieA":serieA_suffix}
seasons = ["2425", "2526"]

dict_leagues = {}

for league, suffix in leagues.items():
    selected_league = []
    for season in seasons:
        link = root + season + suffix
        print(link)
        league_df = pd.read_csv(link)
        selected_league.append(league_df)
    
    dict_leagues[league] = pd.concat(selected_league)

https://www.football-data.co.uk/mmz4281/2425/E0.csv
https://www.football-data.co.uk/mmz4281/2526/E0.csv
https://www.football-data.co.uk/mmz4281/2425/I1.csv
https://www.football-data.co.uk/mmz4281/2526/I1.csv

In [74]:
for league, tabel in dict_leagues.items():
    print(len(tabel))

510
509

In [77]:
dict_leagues.keys()

dict_keys(['Premier', 'SerieA'])

In [78]:
dict_leagues["SerieA"]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
0,I1,17/08/2024,17:30,Genoa,Inter,2,2,D,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I1,17/08/2024,17:30,Parma,Fiorentina,1,1,D,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I1,17/08/2024,19:45,Empoli,Monza,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,I1,17/08/2024,19:45,Milan,Torino,2,2,D,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,I1,18/08/2024,17:30,Bologna,Udinese,1,1,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,I1,29/11/2025,19:45,Milan,Lazio,1,0,H,0,0,...,5.80,1.67,3.70,5.25,1.67,3.75,5.25,1.67,3.70,5.25
125,I1,30/11/2025,11:30,Lecce,Torino,2,1,H,2,0,...,2.55,3.00,2.88,2.63,3.00,2.87,2.62,3.00,2.87,2.62
126,I1,30/11/2025,14:00,Pisa,Inter,0,2,A,0,0,...,1.22,12.00,6.00,1.22,11.00,6.00,1.25,9.50,5.75,1.22
127,I1,30/11/2025,17:00,Atalanta,Fiorentina,2,0,H,1,0,...,5.40,1.62,3.90,5.50,1.67,3.80,5.25,1.65,3.80,5.25
128,I1,30/11/2025,19:45,Roma,Napoli,0,1,A,0,1,...,3.10,2.70,2.80,3.00,2.70,2.80,3.00,2.70,2.80,3.00