In [1]:
import os
import pandas as pd
import numpy as np

In [ ]:
os.getcwd()
csv_path = os.path.join(os.getcwd(), "..", "..","..","data", "StudentsPerformance.csv")

df_exams = pd.read_csv(csv_path)

c:\Users\Giacomo Da Re\git\Python_DataScience\modules\2.Numpy_Pandas_Introduction\notebooks

In [4]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

##### 1. HEAD -> First Five

In [5]:
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
df_exams.head(19)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46

##### 2. TAIL -> Last Five

In [6]:
df_exams.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [8]:
df_exams.tail(12)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

##### SHAPE ATTRIBUTES

In [ ]:
df_exams.shape

(1000, 8)

In [ ]:
df_exams.shape[0]

1000

In [ ]:
df_exams.shape[1]

8

###### OPTIONS

In [ ]:
pd.set_option("display.max_rows", 1000)
df_exams

##### 3. SELECTING ONE COLUMN

###### 3.1 FIRST METHOD

In [8]:
df_exams["gender"]

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [9]:
type(df_exams["gender"])

pandas.core.series.Series

###### SERIES

In [12]:
gender = df_exams["gender"]
gender.head()
gender.index

RangeIndex(start=0, stop=1000, step=1)

###### 3.2 SECOND METHOD

In [13]:
df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [ ]:
df_exams.math score 
# Of course that doesn't work

##### 4. SELECTING TWO COLUMNS

In [15]:
df_exams[["gender", "math score"]]

     gender  math score
0    female          72
1    female          69
2    female          90
3      male          47
4      male          76
..      ...         ...
995  female          88
996    male          62
997  female          59
998  female          68
999  female          77

[1000 rows x 2 columns]

In [16]:
df_exams[["math score", "gender"]]

     math score  gender
0            72  female
1            69  female
2            90  female
3            47    male
4            76    male
..          ...     ...
995          88  female
996          62    male
997          59  female
998          68  female
999          77  female

[1000 rows x 2 columns]

In [17]:
type(df_exams[["gender", "math score"]])

pandas.core.frame.DataFrame

In [20]:
three_columns = df_exams[["gender", "math score", "lunch"]]
three_columns

     gender  math score         lunch
0    female          72      standard
1    female          69      standard
2    female          90      standard
3      male          47  free/reduced
4      male          76      standard
..      ...         ...           ...
995  female          88      standard
996    male          62  free/reduced
997  female          59  free/reduced
998  female          68      standard
999  female          77  free/reduced

[1000 rows x 3 columns]

##### 5. LOC / ILOC

In [22]:
df_exams.loc[:, ["gender", "math score"]]

     gender  math score
0    female          72
1    female          69
2    female          90
3      male          47
4      male          76
..      ...         ...
995  female          88
996    male          62
997  female          59
998  female          68
999  female          77

[1000 rows x 2 columns]

In [23]:
df_exams.iloc[:, [0, 1]]

     gender race/ethnicity
0    female        group B
1    female        group C
2    female        group B
3      male        group A
4      male        group C
..      ...            ...
995  female        group E
996    male        group C
997  female        group C
998  female        group D
999  female        group D

[1000 rows x 2 columns]

In [24]:
# Posso con loc e iloc selezionare le colonne in base al nome o alla posizione in maniera esplicita

###### EXERCISE:

##### ADDING A NEW COLUMN

###### 1.1 WITH A SCALAR VALUE

In [ ]:
df_exams["language score"] = 70
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70
996,male,group C,high school,free/reduced,none,62,55,55,70
997,female,group C,high school,free/reduced,completed,59,71,65,70
998,female,group D,some college,standard,completed,68,78,77,70
999,female,group D,some college,free/reduced,none,77,86,86,70

###### 1.2 WITH NUMPY

In [59]:
language_score = np.arange(0, 1000)

In [60]:
type(language_score)
len(language_score)

1000

In [61]:
new_df_exams = df_exams.iloc[: , :8]
type(new_df_exams)
new_df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [62]:
new_df_exams["new_language_score"] = language_score

In [63]:
new_df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,new_language_score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [64]:
language_score_1_100 = np.random.randint(1, 100, size=1000)
language_score_1_100

array([53, 75, 88,  8, 74, 31, 41, 65, 24, 77, 18, 61, 93, 92, 87, 96, 17,
       54, 82, 12, 95,  1, 78, 24, 58, 11, 96, 69, 80, 42, 16, 83, 46, 70,
       55, 97,  6, 73, 19, 21, 14, 72, 27, 87, 13, 84, 73, 81, 42, 15, 56,
       65, 24, 10, 13, 46, 44, 64, 80, 98, 50, 47, 43, 69, 84, 78, 23, 67,
       12, 14, 14, 58, 25, 23,  9, 91,  2, 70, 19, 79,  8, 30, 90, 57, 96,
       76, 89, 87, 81, 83, 24, 96, 25, 29, 41, 38, 69, 65, 44, 88, 25, 81,
       87, 59, 64, 21, 44, 25, 50, 73, 37, 80, 64, 79, 37, 16, 20, 94, 33,
       39,  5, 63, 87,  5, 55, 22, 72, 40,  7, 66, 64, 64, 56, 63, 58, 72,
       99, 62,  6, 49, 80, 20, 47, 67, 71, 52, 76, 53, 17, 63, 94, 86, 20,
       85, 61, 83, 19, 97, 60, 48,  8, 59, 70, 58, 81, 91, 47, 49, 59,  2,
       48, 92, 61, 52, 81, 20, 45, 37, 86,  5, 33, 82, 19, 58, 81, 80, 13,
       50,  5, 15, 46, 70, 76, 48, 43, 33, 96, 74, 77, 28, 63, 23, 97, 10,
       38, 11, 64, 77, 27, 64, 70, 64, 21, 44,  9, 90, 87, 35, 86, 94, 54,
        9,  8, 82, 97, 41,  4,  1, 43, 75, 70, 99, 21, 36,  5, 36, 85, 52,
       87, 64, 47, 92, 34, 20, 39, 34, 39, 32, 84, 39, 22, 11, 74, 81, 75,
        7, 74,  3, 52, 45, 70, 36, 46, 65, 76, 46,  4, 97, 88, 96, 75, 33,
       66, 50, 64, 78, 26, 96,  5, 18, 37, 70, 41, 55, 38, 87, 56, 93, 60,
       16, 65, 53,  1, 61, 59, 72, 61, 66, 35, 21,  3, 13, 32, 25, 72, 99,
       86, 96, 40, 17, 41,  5, 99, 10, 55, 12, 78, 63, 76, 68, 13, 56, 68,
       93, 83, 43, 42, 17, 18, 65, 43, 13, 31, 84, 39, 61, 33, 69, 66, 71,
       64, 79, 43, 71, 96, 77, 21, 89, 97, 80, 68, 33, 61, 45, 10, 47,  6,
       32, 87, 86, 59,  2, 56, 83, 51, 68, 72, 36, 14, 23, 97, 55, 87, 23,
       40, 17,  6, 12, 50, 40, 41, 59, 10,  4, 41, 16,  8, 18, 52, 21, 51,
       86,  1, 57, 93, 18,  4, 48, 26, 74, 28, 47, 39, 19, 97, 34, 87, 78,
       35, 21, 74, 47, 17, 69, 57, 34, 53, 83,  3, 60, 97,  3, 80, 68, 45,
       73, 65, 70, 57, 44, 82, 37, 63, 79, 37, 49, 41, 73,  9, 25, 32, 99,
       26, 18, 45, 71, 42, 33, 14, 16, 27, 21, 72, 27, 93,  7, 38, 50, 13,
       12, 74, 91, 34, 42, 58, 69, 81, 23, 41, 92, 28, 75, 59, 30, 26, 50,
       31, 53, 59, 47, 75, 90, 91, 14, 77, 20,  7, 89, 62, 43, 37, 68, 23,
        4, 25, 92, 69, 29, 64, 84, 12, 71, 85, 98, 12, 73, 18, 72, 33, 10,
       29, 58, 90, 35, 91, 85, 43, 54, 63, 15, 84, 38, 71, 84, 54, 49, 66,
        4, 35, 76, 92, 51, 61, 52, 51, 91, 12, 53,  7, 16, 38, 27, 27, 45,
       36, 97, 84, 99, 93, 38, 60, 15, 77, 87, 13, 72, 97,  7, 98, 98, 85,
        6, 87, 70, 75, 47,  1, 35, 18, 23, 82, 48, 83, 65, 28, 28, 84,  8,
       63, 28, 26, 69, 29, 95, 74,  8, 86, 96,  2, 35,  4, 65, 30, 88, 32,
       26,  5, 37, 99, 93, 16, 22, 29,  8, 80,  8, 15, 93, 78, 99, 15, 85,
       64, 77, 94, 42, 80, 36, 91, 12, 84, 81, 25, 56, 44, 51, 41, 67, 32,
       80, 79, 19, 30, 81, 73,  5, 61, 93, 50, 26, 62, 97, 89, 33, 35, 51,
       28, 41, 53, 33, 82, 63, 97, 86, 14, 38, 59, 52, 58, 83, 25, 15, 41,
       87, 11, 62, 17, 70, 29, 66, 52, 79, 67, 42, 78, 88, 51, 61, 62, 22,
       19, 13, 36,  1, 65, 99, 56, 49, 65, 34, 82,  2, 18, 61, 82, 46, 83,
       91, 43, 62, 91, 54, 79, 90, 79, 15, 81, 45, 28, 74, 74, 56, 91, 52,
       67, 18, 44, 67, 62, 65, 63, 95, 99, 92, 15, 50, 78, 60, 28, 57, 17,
       74, 94, 10, 63, 79, 20, 42, 36, 30, 21, 78, 74, 63, 81, 65, 36, 54,
       11,  9, 70, 91, 46, 93, 69, 90, 78, 72,  2,  8, 95, 25, 55, 70, 16,
       56, 14, 61, 68, 13, 28, 73, 38, 32, 73, 63, 91, 16, 52, 86, 96, 42,
        5, 64, 74, 26, 72, 92, 39, 32, 69, 92, 72, 14, 35, 14, 11, 39, 13,
       27, 41, 34, 12, 54, 56, 32, 33, 73, 21, 34, 96,  5, 68, 86, 24, 43,
       83, 63, 12,  6, 84, 74, 93, 51, 55, 79, 49, 88, 76, 42, 75, 20, 64,
       63, 42, 27, 90, 33,  1, 15, 32,  5, 16, 19, 96, 38, 37, 28, 98, 59,
       52, 87, 23, 42, 42, 33, 72, 20, 78, 98, 32,  4, 83,  3, 94, 84, 63,
        9, 93, 32, 15, 44, 52, 14, 44, 48, 83, 45, 68, 52, 75, 48,  2, 81,
       47, 15, 84, 80, 32, 13, 69, 84, 88, 61, 76, 21, 45,  7, 25, 48,  3,
       66, 40, 97, 51, 71,  6, 56, 96, 76, 47, 95, 74, 40, 93, 43, 18, 43,
       84,  9, 91, 45, 61, 27, 36, 77, 59, 33, 82, 44, 48, 85, 68, 35, 68,
       51, 49, 62, 38,  4, 18, 93, 13, 13, 55, 43, 35, 31, 78, 67, 14, 60,
       57, 69,  9, 26, 62, 97, 69, 28, 42, 33, 97, 37, 45, 33, 42, 41, 57,
       13, 11,  8, 20, 49, 63, 95, 74, 46, 96,  8, 31, 94, 46, 96, 55, 41,
        8, 41, 47, 96, 29, 78, 56,  1, 62, 35,  5, 74, 13, 28],
      dtype=int32)

In [65]:
min(language_score_1_100)

np.int32(1)

In [66]:
max(language_score_1_100)

np.int32(99)

In [67]:
new_df_exams["new_language_score"] = language_score_1_100
new_df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,new_language_score
0,female,group B,bachelor's degree,standard,none,72,72,74,53
1,female,group C,some college,standard,completed,69,90,88,75
2,female,group B,master's degree,standard,none,90,95,93,88
3,male,group A,associate's degree,free/reduced,none,47,57,44,8
4,male,group C,some college,standard,none,76,78,75,74
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,35
996,male,group C,high school,free/reduced,none,62,55,55,5
997,female,group C,high school,free/reduced,completed,59,71,65,74
998,female,group D,some college,standard,completed,68,78,77,13
999,female,group D,some college,free/reduced,none,77,86,86,28

In [69]:
float_list = np.random.uniform(0, 100, 1000)
float_list

array([5.03013395e+01, 2.89146849e+00, 3.35624552e+01, 7.84346830e+01,
       8.01361351e+00, 6.97917152e+01, 6.44770748e+01, 4.49920029e+01,
       1.29582124e+01, 6.77248753e+01, 4.40763037e+01, 9.46020375e+01,
       4.56952774e+01, 4.85053576e+01, 3.56235271e+00, 6.65204736e+01,
       6.90286363e+01, 3.57334156e+01, 9.60258720e+01, 9.84250389e+01,
       9.54419761e+01, 3.59000505e+01, 6.88005282e+01, 5.17872884e+01,
       9.93260930e+01, 1.53200530e+01, 6.01320600e+01, 9.48843689e+01,
       9.73386341e+01, 3.88677125e+01, 4.28520798e+01, 4.69671857e+01,
       7.62906374e+01, 8.91927258e+01, 2.03063641e+01, 4.16557082e+01,
       1.46832968e+00, 7.75703617e+01, 6.65494754e+01, 3.64572762e+01,
       9.61042570e+01, 8.59823212e+01, 6.10074617e+01, 3.47937526e+01,
       6.30923910e+01, 2.06595702e+01, 3.16965009e+01, 2.60034323e+01,
       7.07857613e+01, 9.24952339e+01, 1.57906392e+01, 2.19209083e+01,
       6.69506496e+01, 8.69173881e+01, 9.37663391e+00, 2.34786540e+01,
       2.31794203e+01, 9.52505365e+01, 8.08463950e+01, 7.01138450e+01,
       4.59319567e+01, 6.98021526e+01, 4.05450008e+00, 3.19591291e+01,
       3.44282115e+00, 2.20905581e+01, 6.91065449e+01, 5.25798951e+01,
       7.49544619e+01, 3.17231530e+01, 5.58626265e+01, 4.53643880e+01,
       1.66826817e+01, 4.21711018e+01, 7.95461683e+01, 3.97497589e-01,
       3.45001901e+01, 6.36085832e+01, 8.27990116e+01, 9.32784443e+01,
       7.82985915e+01, 8.35972445e+00, 9.42740364e+01, 9.80932639e+01,
       9.27076547e+01, 1.02183830e+01, 9.88756940e+01, 3.10369510e+01,
       9.12881337e+01, 7.15697653e+00, 5.49941485e+01, 2.73052237e+00,
       6.79343029e+00, 5.70422270e+01, 8.84410610e+01, 2.65274626e+01,
       4.53595465e+01, 4.48358264e+01, 1.21054250e+01, 9.08255737e+01,
       3.60732257e+01, 5.50962954e+01, 2.01919355e+01, 7.31428151e+01,
       9.53679453e+01, 3.17708419e+01, 2.79980061e+01, 2.27825196e+01,
       5.60607841e+01, 4.31308058e+01, 2.50583952e+01, 7.10300703e+01,
       3.89095370e+01, 8.55668772e+01, 6.79975237e+01, 7.29135652e+01,
       7.33494139e+01, 7.79957936e+01, 1.17689057e+00, 5.06822400e+01,
       1.94892912e+01, 7.44205386e+01, 5.92445255e+01, 7.89900811e+01,
       6.36469176e+01, 8.24173657e+01, 2.10230786e+01, 5.70465841e+01,
       8.04915237e+01, 5.56394011e+01, 5.86001860e+01, 7.25819346e+01,
       5.76993562e+01, 8.69515541e+01, 3.07286675e+00, 4.88701452e+01,
       7.84187428e+01, 3.71687137e+01, 2.88548312e+01, 8.79395360e+01,
       2.26118478e+01, 1.78759246e+01, 3.99807597e+01, 9.93536590e+01,
       2.44493673e+00, 5.41336454e+00, 8.83486385e+01, 7.62651128e+01,
       2.55837685e+01, 5.00973871e+01, 6.77945120e+01, 2.83286844e+01,
       9.75471577e+01, 6.36080064e+01, 2.27214458e+01, 5.41398244e+01,
       2.73016442e+01, 5.21031682e+01, 2.76029787e+01, 2.80301190e+00,
       8.29282769e+01, 4.13840645e+01, 1.48294030e+01, 9.65855126e+01,
       4.89131705e+01, 7.30481270e+01, 3.33482768e+01, 1.90658662e+00,
       6.93878556e+00, 2.03499654e+01, 2.20931068e+01, 7.88746612e+00,
       7.52774307e+01, 5.37544134e+01, 9.23037314e+01, 7.54023242e+01,
       2.81676631e+01, 7.11429570e+01, 4.07529891e+01, 9.26687131e+01,
       2.30595960e+01, 9.85486682e+01, 7.60633904e+01, 6.10246207e+01,
       9.53136991e+01, 1.65683041e+01, 5.39255040e+01, 3.91474561e+00,
       8.13240388e+01, 1.55584467e+01, 6.28882728e+01, 6.91048419e+01,
       8.78899532e+01, 4.84090220e+01, 8.59866467e+01, 2.78571072e+01,
       7.11282300e+01, 4.76391596e+01, 4.91187382e+01, 2.45034643e+01,
       9.62030131e+01, 9.18691286e+01, 1.30022551e+01, 5.63128789e+01,
       8.00213514e+01, 2.64073810e+01, 7.19311995e+01, 4.59001965e+01,
       6.08048308e+01, 2.50895743e+00, 1.31197150e+01, 4.40844411e+00,
       2.40901757e+01, 2.42750614e+01, 9.95271127e+01, 9.18985081e+01,
       2.94622882e+01, 9.33528332e+01, 3.92750928e+01, 4.09378469e+01,
       6.26714161e+01, 4.96806154e+01, 4.33845312e+01, 1.50261375e+01,
       4.14819385e+01, 7.38185482e+01, 7.41794555e+01, 1.17539878e+01,
       3.27865272e-01, 6.43131728e+01, 4.61174376e+01, 2.02635734e+01,
       7.00985294e+01, 6.16091625e+01, 8.97998887e+01, 2.91657269e+01,
       5.14953764e+00, 4.50487525e+00, 7.96956864e+00, 4.08378456e+01,
       8.30485511e+01, 6.46342255e+01, 9.56306398e+01, 7.88270394e+01,
       5.41698247e-01, 1.05211146e+01, 3.46576090e+01, 6.19518312e+01,
       2.15961454e+01, 9.99896499e+01, 6.55513706e+00, 8.86771180e+00,
       3.57136167e+01, 4.49592333e+01, 2.20310295e+01, 5.11891720e+01,
       9.15409026e+01, 2.20896737e+01, 2.53285752e+00, 1.70166260e+01,
       5.12257101e+00, 6.58490470e+01, 5.63663500e+00, 8.32793256e+01,
       7.41806704e+01, 4.52342752e+00, 9.21949132e+01, 7.97532914e+01,
       7.35931587e+01, 3.49638253e+01, 2.87621924e+01, 8.40899995e+01,
       4.64718925e+01, 4.75283100e+01, 9.17099407e+01, 2.19892530e+00,
       5.94326807e+01, 4.76513825e+01, 1.93484739e+01, 2.49309334e+01,
       1.52011739e+01, 6.08741093e+01, 9.47016339e+00, 6.88561798e+01,
       6.30924657e+01, 4.08788460e+01, 9.59660500e+01, 2.06222176e+00,
       7.83496235e+01, 5.40184625e+01, 3.84539475e+01, 7.56583187e+01,
       1.58822295e+00, 9.88369367e+01, 6.78071417e+01, 7.42832986e+01,
       3.68881707e+01, 8.30115686e+01, 4.12329017e+01, 8.98990118e+01,
       3.70090502e+01, 8.49189343e+01, 8.09596488e+01, 5.07982365e+01,
       1.27882531e+01, 6.60728831e+01, 1.72819244e+01, 7.93083598e+01,
       7.37867457e+01, 7.30114378e+01, 6.18144165e+01, 9.23462505e+01,
       3.88598753e+01, 1.54176207e+01, 2.26443129e+01, 9.71093850e+00,
       7.42876152e+01, 1.13640853e+00, 4.57116494e+01, 5.37902337e+01,
       3.09824035e+01, 1.50325934e+00, 5.51587727e+01, 6.18195497e+01,
       6.21342604e+01, 1.44195160e+01, 1.48543978e+00, 3.08715189e+01,
       9.08701828e+01, 5.69095381e+01, 9.42333167e+00, 7.45905498e+01,
       3.34735660e+01, 2.78258792e+01, 5.08394197e+01, 2.96382090e+01,
       8.61406029e+01, 1.38400011e+01, 8.96744364e+01, 3.88009460e+01,
       8.29828650e+00, 6.71109256e+01, 8.02496413e+01, 7.56051810e+01,
       4.03738812e+00, 4.23305094e+01, 1.47972337e+01, 4.99503846e+01,
       6.75459545e+01, 3.16505126e+01, 9.37423831e+01, 7.28404675e+01,
       1.23466779e+01, 5.35594936e+01, 9.14726926e+01, 2.50360081e+01,
       6.03074463e+00, 3.19154696e+01, 8.48728017e+01, 1.90930591e+01,
       9.01482703e+01, 8.95127915e+01, 3.52293323e+01, 2.76819035e+01,
       9.84258385e+01, 6.91422782e+01, 8.60400825e+00, 2.09946425e+01,
       8.58463591e+01, 3.33459751e+01, 2.10596252e+01, 9.70434578e+01,
       8.84415912e+00, 3.91734356e+01, 6.83632576e+01, 5.06165581e+01,
       3.80603043e+01, 1.27553389e+01, 8.54136495e+01, 9.63585558e+01,
       1.84729364e+01, 6.93033967e+01, 9.65304994e-01, 3.49137435e+01,
       4.43792970e+01, 4.28720867e+01, 2.43296367e+01, 5.56554774e+01,
       4.90809936e+01, 3.63331487e+01, 4.40237660e+01, 7.08306610e+01,
       8.90916125e+01, 7.74429800e+01, 6.80009814e+01, 4.16088353e+01,
       7.77131774e+01, 8.91696573e+01, 7.89971036e+01, 9.69862902e+01,
       3.48215256e+01, 8.81138483e+01, 4.66006279e+01, 5.29771434e+01,
       7.96425696e+01, 5.08791954e+01, 5.11674631e+01, 6.04075191e+01,
       5.38377236e+00, 8.21336593e+01, 5.74082795e+01, 2.84357555e+01,
       2.68504167e+01, 5.09924180e+01, 5.25306515e+00, 8.77586141e+01,
       4.50234020e+01, 4.64935165e+01, 6.57369110e+01, 5.71511744e+01,
       6.01016660e+01, 2.97482126e+01, 3.06022229e+01, 3.65140505e+01,
       8.21551079e+01, 2.65806840e+01, 4.30072834e+00, 3.69286952e+01,
       6.89190311e+01, 2.49473789e+01, 1.28754045e+01, 2.79238893e+00,
       5.38677541e+01, 2.43432586e+01, 6.00929419e+01, 3.45165890e+01,
       7.80493676e+01, 8.20917598e+01, 6.57197102e+01, 5.70465983e+01,
       9.94342518e+01, 7.51582767e+01, 9.48405047e+01, 5.83029804e+01,
       8.78717701e+00, 1.58554021e+01, 9.06872592e+01, 6.76165262e+01,
       5.89876231e+01, 2.36114793e+01, 9.08754726e+01, 2.70667993e+01,
       5.26918299e+01, 7.35003398e+01, 9.96882764e+01, 1.31307296e+01,
       4.67651739e-01, 3.65739199e+00, 1.53963003e+01, 2.77775054e+01,
       4.34426459e+00, 8.41513777e+01, 5.21871243e+01, 3.52304570e+01,
       5.60975235e+01, 7.45874430e+01, 4.94133145e+01, 9.17141797e+00,
       1.48563776e+01, 7.77962477e+01, 1.60585699e+01, 4.29767437e+01,
       5.93758738e+01, 2.82666455e+01, 3.25101990e+01, 8.99146676e+01,
       2.49323418e+01, 2.92458098e+01, 2.68937109e+01, 4.23311936e+01,
       6.48020148e+01, 5.50525107e+01, 8.01704935e+01, 9.09670445e+01,
       3.71646169e+01, 9.92240255e+01, 5.42526453e+01, 3.14435593e+01,
       2.24149651e+01, 2.22560743e+01, 3.88810464e+01, 8.44747300e+01,
       1.25350742e+01, 2.27435681e+01, 4.99992163e+01, 9.53035574e+01,
       6.44504811e+01, 4.68101989e+01, 7.29803411e+01, 8.43103713e+01,
       4.00023702e+01, 8.92789753e+01, 8.95562792e+01, 1.32948683e+01,
       8.88682031e+01, 1.62457954e+00, 6.68572538e+00, 4.07252547e+01,
       6.22983403e+01, 1.28383416e+01, 3.56749234e+01, 9.83509725e+01,
       8.12374104e+01, 6.63469147e+00, 2.13061344e+01, 4.78318316e+01,
       5.92865693e+01, 8.78663193e+01, 2.98767021e+01, 5.76312216e+00,
       2.78401604e+01, 5.18401276e+01, 6.04625045e+01, 9.54885585e+01,
       8.40021093e+01, 1.09510388e+01, 3.84048824e+01, 8.87569840e+01,
       9.51226821e+01, 3.48829548e+01, 8.21929169e+01, 9.65515339e+01,
       7.02011117e+01, 1.71621115e+01, 2.49354091e+01, 3.19935494e+01,
       9.52306834e+01, 5.97997542e+01, 7.89769605e+01, 7.80300240e+01,
       9.89155625e+00, 5.11098877e+01, 1.12664764e+01, 4.70566888e+00,
       1.93530502e+01, 9.24177751e+00, 9.71959264e+01, 7.14267904e+01,
       9.71216720e+01, 3.54415200e+01, 1.06398247e+01, 5.94917735e+01,
       5.76639908e+01, 7.27898730e+01, 1.82502821e+00, 9.50146129e+01,
       9.43962564e+01, 2.20749235e+01, 9.74713597e+01, 4.95859326e+01,
       1.08188641e+01, 7.86104548e+01, 1.39257697e+01, 4.37323864e+01,
       2.29303999e+01, 6.72541320e+01, 7.99401643e+01, 5.99412891e+01,
       8.45373662e+01, 5.43078407e+01, 8.29853617e+01, 5.82319424e+01,
       5.96734020e+01, 6.95712694e+01, 9.46604891e+00, 6.35197800e+01,
       2.70545973e+01, 5.22497148e+01, 6.75703112e+01, 1.05712287e+01,
       5.67673166e+01, 4.65096054e+00, 8.92269503e+01, 9.37805298e+01,
       2.48161806e+01, 1.50039706e+01, 2.74523871e+01, 1.65632601e+01,
       8.49738145e+01, 6.92574095e+01, 5.85675461e+01, 7.67806329e+01,
       9.03991493e+01, 2.78719399e+01, 3.19425367e+00, 5.85250897e+01,
       4.01607653e+01, 2.12809684e+01, 8.64048056e+00, 9.13010464e+01,
       3.86978173e+00, 4.01907174e+01, 3.38724792e+00, 2.78941435e+01,
       4.84817141e+01, 8.92769879e+00, 7.98980997e+01, 8.40941379e+01,
       2.50835396e+01, 7.46085443e+01, 8.89922693e+01, 1.30816393e+01,
       9.30015665e+01, 2.53860264e+00, 8.37830490e+01, 8.87727436e+00,
       8.47108515e+01, 1.70272952e+01, 1.99826497e+01, 9.43128216e+01,
       9.52846298e+01, 4.19666049e+01, 2.08017080e+01, 2.54228818e+01,
       3.87278315e+01, 8.11451961e+01, 6.52157330e+01, 7.77728602e+01,
       3.25856565e+01, 6.07535435e+01, 2.32796533e+01, 9.51321794e+01,
       7.65433568e+01, 4.90704471e+01, 6.69741847e+01, 7.47033181e+01,
       7.96502561e+01, 9.92892480e+01, 3.33603219e+01, 2.32816322e+01,
       5.90888429e+01, 4.06784330e+01, 9.27959842e+01, 2.72434124e+01,
       4.95947923e+01, 1.71824796e+01, 9.82332000e+01, 1.09574725e+01,
       4.81865815e+01, 5.55008524e+01, 1.60660334e+01, 9.16317988e+01,
       9.95229359e+01, 9.83326201e+01, 3.61761048e+01, 7.55980995e+01,
       8.44443972e+01, 1.04590814e+00, 3.96760818e+01, 9.56036742e+01,
       8.58289285e+01, 4.10850556e+00, 4.73536853e+01, 5.02797939e+01,
       6.92534531e+01, 6.63019358e+01, 1.57591965e+01, 2.93725121e+01,
       9.65251785e+01, 8.37963575e+01, 5.55924780e+01, 3.25401780e+01,
       8.69337388e+01, 3.99617150e+01, 1.20758948e+01, 3.85531457e+01,
       3.57755405e+01, 6.68657867e+01, 5.92059646e+01, 8.20258238e+01,
       9.10467328e+01, 5.60035303e+01, 2.09521039e+01, 7.71960106e+00,
       4.68212585e+01, 5.21697803e+01, 5.28156894e+01, 1.93906684e+01,
       9.77598434e+01, 1.25580346e+01, 3.01599381e+01, 2.74718240e+01,
       1.87679444e+01, 5.96522912e+01, 2.93808382e+01, 9.39398681e+01,
       5.09274579e+01, 2.24517401e+01, 9.18131339e+01, 2.91113731e+01,
       7.16195655e+00, 6.08998939e+01, 5.39499279e+00, 6.85870212e+01,
       9.23683567e+01, 2.50603629e+01, 3.16794495e+01, 4.81040060e+01,
       3.40193996e+01, 7.26122507e+00, 6.62206899e+01, 6.75730995e+01,
       4.63310410e+01, 6.09065984e+01, 2.09363171e+01, 1.68518540e+01,
       3.42311173e+01, 9.62853595e+01, 5.22308878e+01, 5.59341214e+01,
       8.63238842e+00, 9.56188758e+01, 3.94020973e+00, 9.38742348e+01,
       4.43349940e+01, 1.91774384e+01, 6.48953502e+01, 9.54849600e+01,
       9.61502766e+01, 3.14014626e+01, 4.68185915e+01, 4.30475843e+01,
       3.32858809e+01, 4.53561387e+01, 4.56100097e+01, 7.62132832e+01,
       5.31070959e+01, 3.12812891e+01, 9.69069660e+01, 9.65319076e+01,
       7.46809134e+01, 2.92745923e+01, 2.57336818e+01, 7.31208095e+00,
       7.90037085e+01, 6.41354630e+01, 6.92287184e+01, 1.49397991e+01,
       1.76351070e+01, 3.64074079e+01, 4.40613520e+00, 5.28121222e-02,
       4.48535664e+01, 7.21780921e+01, 9.22334568e+01, 9.98484206e+01,
       6.70421529e+01, 3.12682884e+01, 5.50043896e+01, 6.71409523e+01,
       5.18975408e+01, 2.59912605e+01, 6.87155565e+00, 1.36129424e+01,
       6.03695734e+01, 8.31644418e+01, 7.12826829e+01, 7.11485698e+01,
       4.72757805e+01, 8.34460608e+01, 6.46782362e+01, 3.70518677e+01,
       9.28191359e+01, 2.32621867e+01, 2.24290877e+01, 2.06156587e+01,
       4.12748417e+01, 4.67072602e+01, 9.15181819e+01, 4.22559462e+01,
       9.45432609e+01, 6.51418114e+01, 4.34688909e+01, 8.23363776e+01,
       1.47648026e+01, 9.02381201e+01, 9.48625475e+01, 8.43755037e+01,
       1.27280176e+01, 4.66318809e+01, 2.00795737e+01, 8.00157286e+01,
       9.98333384e+01, 8.63715803e+01, 6.26523338e+01, 4.97579739e+01,
       6.06527643e+01, 4.66407634e+01, 9.84405873e+01, 4.92866724e+01,
       6.08775422e+01, 9.26056520e+00, 6.88807183e+00, 2.61971861e+01,
       5.00323003e+01, 3.87924009e+01, 6.73288710e+00, 1.13736829e+01,
       5.20621793e+01, 5.20729055e+01, 2.54799132e+01, 8.92029307e+01,
       5.71054462e+01, 6.19722347e+01, 2.20463087e+01, 6.20938200e+01,
       2.50845547e+01, 2.24017533e+01, 3.27279080e+01, 8.01995775e+01,
       1.02842316e+01, 4.72991806e+01, 2.03713355e+01, 5.65904195e+01,
       4.81913450e+01, 1.96513712e+01, 1.33402598e+01, 8.38672899e+01,
       7.38075566e+01, 8.78079699e+01, 6.91788203e+01, 7.42498119e+01,
       4.46683012e+01, 7.27536371e+01, 5.67103906e+01, 8.70173479e+00,
       7.84825328e+01, 6.88083550e+01, 7.73028505e+01, 7.57516216e+01,
       9.16014687e+01, 3.74422497e+01, 7.63812226e+01, 7.00628102e+01,
       3.83624063e+01, 2.69997083e+01, 6.34894295e+01, 8.03232144e+01,
       1.69362399e+01, 3.90080465e+01, 3.78859502e+01, 3.72816021e+01,
       7.72752740e+01, 4.67998627e+01, 4.00020558e+01, 5.84844477e+01,
       2.49633883e+01, 5.23333768e+01, 8.26370808e+01, 7.93465764e+01,
       4.14306901e+01, 5.03014522e+01, 7.16728645e+01, 2.48226455e+01,
       9.94137072e+01, 2.06796201e+01, 7.36296800e+01, 7.64209467e+01,
       1.89106608e+00, 8.14376953e+01, 4.35604333e+01, 4.92225644e+01,
       9.55075506e+01, 6.83432388e+01, 4.50465186e+01, 3.67605042e+01,
       8.92850116e+01, 9.95497478e+01, 1.62923114e+00, 5.59415786e+01,
       9.33248603e+01, 7.72241490e+00, 2.90654149e+01, 3.68690847e+01,
       6.38056195e+01, 8.38843422e+01, 5.12565570e+01, 5.31830098e+01,
       3.88619634e+01, 3.58415391e+01, 7.31504075e+01, 6.74330802e+01,
       1.82745108e+00, 3.28323462e+01, 8.86938234e+01, 3.58278872e+01,
       8.21281681e+01, 3.26556693e+01, 5.73275241e+01, 1.25030357e+00,
       9.91746137e+01, 5.77753147e+01, 8.21780339e+01, 9.40871290e+01,
       7.69735705e+00, 9.54053985e+01, 1.23014454e+01, 5.15882590e+01,
       2.28516302e+01, 4.75653066e+01, 1.32436482e+01, 5.69705154e+01,
       6.77712011e+01, 1.21081773e+01, 4.91831862e+00, 4.98163611e+01,
       7.42352170e+01, 8.40144843e+01, 8.58300994e+01, 7.85891987e+01,
       9.49743678e+01, 5.36303134e+01, 1.30958588e+01, 5.04692556e+01,
       4.25180974e+01, 6.98101327e+01, 3.70325665e+01, 6.85370083e+01,
       7.28492229e+01, 6.01435908e+01, 4.25738243e+01, 7.78173817e+01,
       9.06036800e+01, 5.13957012e+01, 2.55461740e+01, 5.24568348e+01,
       8.33612011e+01, 4.27601169e+01, 6.04383877e+01, 3.99956884e+01,
       2.75325449e+01, 3.70733836e+00, 6.72582445e+01, 3.17612615e+01,
       8.14831750e+01, 3.95829053e+01, 8.22776167e+01, 7.57242799e+01,
       4.53511615e+01, 6.82894610e+01, 7.66106679e+01, 3.49023517e+01,
       8.78767393e-01, 6.43222304e+01, 9.53231723e+01, 1.17984082e+01,
       2.14595366e+01, 5.58261550e+01, 9.94602197e+01, 5.71171211e+01,
       9.36370462e+01, 9.62815269e+01, 4.79854140e+01, 2.45246041e+01,
       7.02369994e+01, 6.79045819e+01, 9.36138792e+01, 8.73071620e+01,
       8.41635412e+01, 9.06964929e+01, 8.78988141e+00, 1.71064035e+01,
       2.77952436e+01, 8.42512368e+01, 2.18445842e+01, 9.86665986e+00,
       5.42730892e+01, 8.49880710e-01, 7.89025973e+01, 6.76400350e+01,
       7.89684782e+00, 6.00449958e+01, 8.45901574e+01, 6.36403000e+01,
       7.24255980e+01, 7.12715566e+01, 7.34109358e+01, 2.95749112e+01,
       6.04221361e+01, 5.48063275e+01, 4.79257628e+01, 2.97891912e+01,
       5.44266458e+01, 8.31237172e+01, 6.58369322e+01, 5.53867729e+01,
       2.22086194e+01, 1.74176721e+01, 1.33793461e+01, 2.01654191e+01])

In [70]:
min(float_list)

np.float64(0.05281212222140175)

In [71]:
max(float_list)

np.float64(99.9896499109567)